use Mix.Config

# Your Slack-API token
# https://api.slack.com/tokens
config(:slackmine, Slackmine.Slack, token: "")

# Your Redmine API Key
# http://www.redmine.org/projects/redmine/wiki/Rest_api
# "You can find your API key on your account page ( /my/account ) when logged in, on the right-hand pane of the default layout."
config(:slackmine, Slackmine.Redmine, key: "")

# Your Redmine Instance
config(:slackmine, Slackmine.Redmine, host: "https://redmine.example.com")
